<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baudsoft.nl</title>
  

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="style.css" rel="stylesheet">

</head>

<body>

    <img class="logo" src="baudsoft.png">


    <div class="screen container" id="app">

        <div class="output">
            <p v-for="m in messages" v-bind:class="m.role">
                {{m.role}} : {{m.value}}
            </p>
        </div>

        <input class="input" id="txtInput" v-model="txtInput"
            maxlength="33"
            @keyup.enter="send">
    </div>


</body>

</html>

<script src="https://public.chirp.io/wasm/3.0.3/chirp-connect.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="app.js"></script>