
.row {
    display: flex;
    flex-direction: row;
}

.row .btn{
    margin:5px;
}

body{
    text-align: center;
    background-color:#696969;
    color: #7FFF00;
}

.logo{
    margin:10px;
    margin-left:auto; margin-right: auto;
    height: 160px;
}


.logosmall{
    margin:10px;
    margin-left:auto; margin-right: auto;
    height: 60px;
}



table td {
    width: 100px;
    height: 100px;
}

#free, .pickedBG {
    background-color: #ff7100;
    }


html, body, .container{
    height:100%;
}

.container{
    display: flex;
    flex-direction: column;
}

p.admin{
    color: #ff7100;
}

.output{
    overflow-y: scroll;
    flex:1;
}

.input{
    height: 50px;
}

.output, input{
    text-align: left;
    position: relative;
    background-color:#2e2e2e;
    color: #7FFF00;
    padding:5px;
}

input:disabled{
    background-color:#3e3e3e;
    color:darkgray;
}   

.receiving{
    color:white;
}